<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add subject</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1> Add subject</h1>

<form th:action="@{/addSubject}"
      th:object="${subjectForm}" method="POST">
    Title
    <input type="text" th:field="*{title}"/>
    <br/>
    Head teacher
    <input type="text" readonly="true" th:field="*{name}"/>
    <br/>
    Supervisor
    <!--<input type="text" th:field="*{listEncadrant}"/> !-->
    <select th:field="*{listEncadrant}" multiple="multiple">
        <option value="">--</option>
        <option th:each="t : ${teacherList}" th:value="${t.getLastName()}" th:utext="${t.getLastName()}"></option>
    </select>
    <br/>
    Subject
    </br>
    <textarea type="text" th:field="*{subject}" rows="12" cols="35">content here.</textarea>
    <br>
    <input type="submit" value="Post"/>
</form>

</body>
</html>