<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TER List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>TER List</h1>
<a href="addSubject">Add subject</a>
<br/>
<div>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Head Teacher</th>
            <th>Supervisor</th>
        </tr>
        <tr th:each ="subject : ${subjects}">
            <td th:utext="${subject.title}">...</td>
            <td th:utext="${subject.subject}">...</td>
            <td th:utext="${subject.name}">...</td>
            <td>
                <ul>
                <li th:each="UserTER : ${subject.listEncadrant}" th:text="${UserTER.lastName}">...</li>
                </ul>
            </td>
            <td><a th:href="@{/showSubjectUpdateForm/{id}(id=${subject.id})}">Update</a>
                <a th:href="@{/deleteSubject/{id}(id=${subject.id})}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>