<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update Student</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Update a Subject</h1>

<form th:action="@{/addSubject}"
      th:object="${subjectForm}" method="POST">
    <input type="hidden" th:field="*{id}" />
    Title
    <input type="text" th:field="*{title}"/>
    <br/>
    Head Teacher
    <input type="text" readonly="true" th:field="*{name}"/>
    <br/>
    Supervisor
    <select th:field="*{listEncadrant}" multiple="multiple">
        <option value="">--</option>
        <option th:each="t : ${teacherList}" th:value="${t.getLastName()}" th:utext="${t.getLastName()}" th:if="${t.getLastName()}!=*{name}"></option>
    </select>
    </br>
    Subject
    </br>
    <textarea name="content" rows="12" cols="35" th:field="*{subject}"></textarea>
    <!-- <input type="text" th:field="*{subject}"/> -->
    <br/>
    <input type="submit" value="Update"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>